[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
v = {editable = true,version = "*"}

[packages]
django = "==2.0.12"
djangorestframework = "==3.7.7"
django-cors-headers = "*"
psycopg2 = "*"
pillow = "*"
django-rest-auth = "*"
djangorestframework-jwt = "==1.11.0"
django-developer-panel = "*"
coreapi = "*"
drf-yasg = "*"
python3-saml = "*"
python-decouple = "*"
pyyaml = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
drf-writable-nested = "*"
bandit = "*"
gunicorn = "*"
gevent = "*"
django-field-history = "*"
django-simple-history = "*"

[requires]
python_version = "3.6"
